<?xml version="1.0" encoding="UTF-8"?>
<exporters>
    <exporter>
        <type>HTML</type>
        <class>org.nmpl.v0.exporters.HTMLExporter</class>
    </exporter>
    <exporter>
        <type>XML</type>
        <class>org.nmpl.v0.exporters.XMLExporter</class>
    </exporter>
    <exporter>
        <type>TEST</type>
        <class>org.nmpl.v0.exporters.TestExporter</class>
    </exporter>
    <!-- Add additional export formats here -->
</exporters>